<!--
  Generated template for the ResumenCumplePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>resumen-cumple</ion-title>
  </ion-navbar>

</ion-header>



 <ion-content  padding sid="fhm_page">  
  <div class="fhm_container">  
      <div class="fhm_row">  
          <div class="fhm_item fhm_item1">  
              <span>Article</span>  
          </div>  
          <div class="fhm_item fhm_item2">  
              <span> Hoy</span>  
          </div>  
      </div>  
      <div class="fhm_row">  
          <div class="fhm_item fhm_item3">  
              <span> Ésta semana</span>  
          </div>  
          <div class="fhm_item fhm_item4">  
              <span>Éste mes</span>  
          </div>  
      </div>  
      <div class="fhm_row">  
          <div class="fhm_item fhm_item5">  
              <span>Hombrete</span>  
          </div>  
          <div class="fhm_item fhm_item6">  
              <span>Mujerte</span>  
          </div>  
      </div>  
  </div>  
</ion-content>  

