<!--
  Generated template for the ContactsMovilPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>contactsMovil</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
        <button ion-button round block  (click)="getContacts()"> Get Contacts </button>
      <button ion-button round block  (click)="findContact()" color="danger"> find contact</button>        
      <button ion-button round block  (click)="addContact()"> Add contact </button>


      
  <ion-card *ngFor="let item of contacto | async">
  
    {{contacto}}
    <ion-card-content>       
       {{item | json}}
    </ion-card-content>
  </ion-card>
 </ion-content>
