
<ion-header>
    <ion-navbar color="celeste">
      <ion-title>
        Lista de Cumple
      </ion-title>
    </ion-navbar>
  </ion-header>

<ion-content>
  <!-- Real floating action button, fixed. It will not scroll with the content -->
  <ion-fab top right edge>
    <button ion-fab  color="dynamicColor" mini (click)="getContacts()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
  <ion-list>
    <ion-item>
      <ion-label floating>Nombre </ion-label>
      <ion-input type="text" [(ngModel)]="item.nombre"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label floating>Teléfono</ion-label>
        <ion-input type="text" [(ngModel)]="item.telefono"></ion-input>
      </ion-item>
 
    <ion-item>
      <ion-label floating>Correo electronico</ion-label>
      <ion-input type="email" [(ngModel)]="item.email"></ion-input>
    </ion-item>
  
    <ion-row radio-group [(ngModel)]="item.sexo">
        <ion-col>
          <ion-item>
           Qué Es
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label>Hombrete</ion-label>
            <ion-radio value="homme"></ion-radio>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
           <ion-label>Mujerte</ion-label>
            <ion-radio value="femme"></ion-radio>
          </ion-item>
        </ion-col>
      </ion-row>


    <ion-item>
        <ion-label>Fecha Nacimiento</ion-label>
        <ion-datetime displayFormat="DD MMM YYYY" [(ngModel)]="item.fechaN"></ion-datetime>
      </ion-item>
  

    <ion-item>
      <ion-label floating>Descripción</ion-label>
      <ion-textarea [(ngModel)]="item.descripcion"></ion-textarea>
    </ion-item>

</ion-list>
    <div padding>
            <button ion-button round    (click)="guardarCumple()"> Guardar </button>
            <button ion-button round    (click)="eliminarCumple()" color="danger"> Cancelar </button>        
    </div>
</ion-content>
