<ion-header>
    <ion-navbar color="celeste">
      <ion-title>
        Lista de Cumple
      </ion-title>
     
    </ion-navbar>
  </ion-header>

<ion-content>

  <!-- Real floating action button, fixed. It will not scroll with the content  -->
     <button ion-button round    (click)="goResumen()"> Resumen </button>

  <ion-fab top right edge>
    <button ion-fab  color="dynamicColor" mini (click)="goAgregarCumple()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>

  <ion-card *ngFor="let item of items | async" (click)="goVerCumple(item.id)">
    <ion-item>
      <ion-avatar item-start>
        <img src="../../assets/recursos/{{item.sexo}}.png">
      </ion-avatar>
      <h2>{{item.nombre}}</h2>
      <p>{{item.fechaN}}</p>
      <p item-end>{{item.telefono}}</p>
    </ion-item>
    
    <div *ngIf=" indexCount == 0">
        <button ion-button class="previous"> Previous </button>
      </div>

    <ion-card-content>      
        <p item-end>{{item.email}}</p>
        <p>{{item.descripcion}}</p>
    </ion-card-content>
  
    <ion-item-options>
        <button danger (click)="removeItem(item)"><ion-icon trash></ion-icon> Delete</button>
      </ion-item-options>

  </ion-card>
</ion-content>
