// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #488aff,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  celeste:    #5ca5d8,
  barra:      #5ca5d8
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";


body {  
  cursor: url('http://ionicframework.com/img/finger.png'),  
  auto;  
}  

#fhm_page.scroll,  
  .fhm_container  
  {  
      position: absolute;  
      top: 0;  
      right: 0;  
      left: 0;  
      bottom: 0;  
  }  

.fhm_row  
{  
  /* position: absolute; */  
  height: 33.3%;  
  left: 0;  
  right: 0;  
  background-color: #FF0000;  
  clear: both;  
}  

.fhm_item  
{  
  height: 100% ;  
  width: 49.95% ;  
  font-family: Arial,  
  Helvetica,  
  sans-serif;  
  font-size: 50 px;  
  color: white;  
  text-align: center;  
  border: 1 px solid#FFFFFF;  
  float: left;  
  position: relative;  
}  

.fhm_item1  
{  
  background-color: #1d8a77;   
}  

.fhm_item2  
{  
background-color: #ff6600;  
}  
.fhm_item3   
{  
  background-color: #dd5151;  
}  
.fhm_item4   
{  
  background-color: #6bc042;  
}  
.fhm_item5   
{  
background-color: #ffca2a;  
}  
.fhm_item6  
{  
  background-color: #0086dc;  
}  
span{  
position: absolute;  
top:0;  
right:0;  
left:0;  
bottom:0;  
margin: auto;  
width:100%;  
height: 10%;   
}  